/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgba(30, 154, 173, 0.5);
  color: black;
  padding: 1em 0;
  text-align: center;
  margin-bottom: 2em; /* Add space between sections */
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 2px solid rgba(30, 154, 173, 1);
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
  background-color: rgba(30, 154, 173, 1);
  color: white;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}
object {
  max-width: 100%;
  display: block;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding: 2em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 2em; /* Add space between sections */
}

h2 {
  color: rgba(30, 154, 173, 1);
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

.job {
  margin-bottom: 1.5em;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: white;
  margin-top: auto; /* Pushes footer to the bottom */
}
